GROWTH_API_APP_TOKEN=wapstore

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/whey_db
SPRING_DATASOURCE_USERNAME=whey_user
SPRING_DATASOURCE_PASSWORD=whey_pass

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
